__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
.env
.git/
*.zip
runs/
data/models/Personal Protective Equipment in Workplace Environments/
data/models/safety-Helmet-Reflective-Jacket/
data/*.zip
data/attendance/temp_selfies/
